.flashes {
    list-style-type: none;
    padding: 0;
}
.success {
    color: green;
}
.error {
    color: red;
}

.title {
    padding: 1%;
}

.alert {
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 1rem; 
    max-width: 90%;
    margin-top: 2rem;
}